body {
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    width: 80%;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 5px;
}

.note-cell {
    width: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 1px solid #000000;
    position: relative;
}

#bpmContainer {
    position: absolute;
    top: 5%;
    left: 5%;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
}

#play {
    position: absolute;
    bottom: 10%;
}

#stop {
    position: absolute;
    bottom: 10%;
    left: 7.5%;
}

#save {
    position: absolute;
    bottom: 10%;
    right: 15%;
}

#loadButton {
    position: absolute;
    bottom: 10%;
    right: 7.5%;
}

#loadDemo {
    position: absolute;
    bottom: 5%;
    right: 7.5%;
    width: 12.6%;
}

#exportMIDI {
    position: absolute;
    bottom: 10%;
    left: 7.5%;
}
